# Your Discord bot token.
# Generate one at:
# https://discord.com/developers/applications
DISCORD_TOKEN=

# Local SQLite database.
# Change this if you want to use a different database location.
DATABASE_URL=sqlite://botplate.db?mode=rw

# PLEASE copy the contents of the file to a new .env
# We do NOT need to see your bot tokens in the commit history.
